/* shade */
.vue-layer-shade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: auto;
}
/* move event */
.vue-layer-move {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    cursor: move;
    opacity: 0;
    background-color: #fff;
    z-index: 2147483647;
}

/* layer */
.vue-layer {
    -webkit-overflow-scrolling: touch;
    position: fixed;
    pointer-events: auto;
    top: 150px;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    -webkit-background-clip: content;
    border-radius: 2px;
    box-shadow: 1px 1px 50px rgba(0, 0, 0, .3);

    * {
        box-sizing: border-box !important;
    }

    .vue-layer-title {
        padding: 0 80px 0 20px;
        height: 42px;
        line-height: 42px;
        border-bottom: 1px solid #E8E8E8;
        font-size: 14px;
        color: #333333;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        background-color: #F8F8F8;
        border-radius: 2px 2px 0 0;
    }

    .vue-layer-content {
        position: relative;
    }

    .vue-layer-winctl {
        position: absolute;
        right: 15px;
        top: 15px;
        font-size: 0;
        line-height: initial;

        a {
            position: relative;
            width: 16px;
            height: 16px;
            margin-left: 10px;
            font-size: 12px;
            display: inline-block;
            vertical-align: top;
        }

        .vue-layer-min {
            background-image: url(../img/min.svg);
            background-size: 12px 12px;
            background-repeat: no-repeat;
            cursor: pointer;
        }
        .vue-layer-max {
            background-image: url(../img/square.svg);
            background-size: 12px 12px;
            background-repeat: no-repeat;
            cursor: pointer;

            &.vue-layer-restore {
                background-image: url(../img/restore.svg);
            }
        }

        .vue-layer-close1 {
            background-image: url(../img/close.svg);
            background-size: 12px 12px;
            background-repeat: no-repeat;
            cursor: pointer;

            &:hover {
                opacity: 0.7;
            }
        }

        .vue-layer-close2 {
            background-image: url(../img/close-circle.svg);
            background-size: 30px 30px;
            background-repeat: no-repeat;
            cursor: pointer;
            position: absolute;
            right: -28px;
            top: -28px;
            width: 30px;
            height: 30px;
            margin-left: 0;
            border-radius: 30px;

            &:hover {
                background-image: url(../img/close-circle-hover.svg);
            }
        }
    }

    &.vue-layer-dialog {
        min-width: 260px;

        .vue-layer-content {
            position: relative;
            padding: 20px;
            line-height: 24px;
            word-break: break-all;
            overflow: hidden;
            font-size: 14px;
            overflow-x: hidden;
            overflow-y: auto;

            .vue-layer-ico {
                position: absolute;
                top: 16px;
                left: 15px;
                width: 30px;
                height: 30px;
                background-repeat: no-repeat;
                background-size: cover;

                &.vue-layer-ico-0 {
                    background-image: url(../img/warn.svg);
                }

                &.vue-layer-ico-1 {
                    background-image: url(../img/success.svg);
                }

                &.vue-layer-ico-2 {
                    background-image: url(../img/error.svg);
                }

                &.vue-layer-ico-3 {
                    background-image: url(../img/idea.svg);
                }

                &.vue-layer-ico-4 {
                    background-image: url(../img/map.svg);
                }

                &.vue-layer-ico-5 {
                    background-image: url(../img/happy.svg);
                }

                &.vue-layer-ico-6 {
                    background-image: url(../img/dead.svg);
                }
            }
        }

        .vue-layer-padding {
            padding: 20px 20px 20px 55px;
            text-align: left;
        }
    }
    &.vue-layer-page {
        .vue-layer-content {
            position: relative;
            overflow: auto;
        }
        .vue-layer-btn {
            padding-top: 10px;
        }
    }
    &.vue-layer-iframe {
        .vue-layer-btn {
            padding-top: 10px;
        }
        iframe {
            display: block;
            width: 100%;
        }
    }
    &.vue-layer-loading {
        border-radius: 100%;
        background: none;
        box-shadow: none;
        border: none;

        .vue-layer-content {
            width: 60px;
            height: 60px;
            background-image: url('../img/loading-0.svg');
            background-repeat: no-repeat;
            background-size: cover;
        }

        .vue-layer-loading1 {
            width: 60px;
            height: 60px;
            background: url(../img/loading-1.svg) no-repeat;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .vue-layer-loading2 {
            width: 60px;
            height: 60px;
            background: url(../img/loading-2.svg) no-repeat;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    &.vue-layer-tips {}

    &.vue-layer-border {
        border: 1px solid #B2B2B2;
        border: 1px solid rgba(0, 0, 0, .1);
        box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
    }

    .vue-layer-btn {
        white-space: nowrap;
        text-align: right;
        padding: 6px 18px;
        pointer-events: auto;
        user-select: none;
        -webkit-user-select: none;
        a {
            box-sizing: content-box !important;
            display: inline-block;
            vertical-align: top;
            height: 28px;
            line-height: 28px;
            padding: 0 14px;
            border: 1px solid #dedede;
            background-color: #fff;
            color: #333;
            border-radius: 2px;
            font-weight: 400;
            cursor: pointer;
            text-decoration: none;
            &:not(:first-child) {
                margin-left: 5px;
            }
            &:hover {
                opacity: 0.9;
                text-decoration: none;
            }
            &:active {
                opacity: 0.8;
            }
        }
        .vue-layer-btn0 {
            border-color: #1E9FFF;
            background-color: #1E9FFF;
            color: #fff !important;
        }
        &.vue-layer-btn-l {
            text-align: left;
        }

        &.vue-layer-btn-c {
            text-align: center;
        }
    }

    .vue-layer-resize {
        position: absolute;
        width: 15px;
        height: 15px;
        right: 0;
        bottom: 0;
        cursor: se-resize;
    }
}

/* anim */
@import "./anim.scss";

@media screen and (max-width: 1100px) {
    .vue-layer-iframe {
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
}